.App {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  align-content: center;
  flex-direction: column;
  color: rgba(0,0,0,0.65);	
  font-family: Roboto;
}

.Content{
  display: flex;
  flex-direction: column;
  width: 73%;
  margin-left: 181px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.08);
  margin-top: 8px;
  justify-content: center;
}

.UserWelcome{
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 90%;
  margin-top: 34px;
}

.Line{
  display: flex;
  height: 71px;
  width: 1px;
  margin-top: 56px;
}

.Detail{
  margin-top: 26px;
  margin-left: 35px;
  margin-right: 25px;
  font-size: 14px;
}