.Header {
  height: 40px;	
  width: '100%';	
  background-color: #FFFFFF;	
  box-shadow: 0 1px 8px 0 rgba(0,21,41,0.12);
  
}

.div-Header{
  height: '100%';	
  width: '100%';
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 181px;
  margin-right: 181px; 
}

.Logo{
  height: 31px;
  width: 61px;
  margin-top: 6px;
  align-self: flex-start;
}