.Head{
  height: 70px;
  background-color: white;
  border: none;
  padding-left: 15px;
  padding-bottom:5px;
  padding-top: 15px;
}

.Head-body span{
  font-size: 20px;
}

.Head-body div{
  font-size: 14px;
  margin-top: 10px;
}

.Head-div{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.Icon-div{
  display: flex;
}

.Icon{
  height: 14px;
  width: 14px;
  margin-right: 20px;
}

.Body{
  width: 100%;
}

.List{
  list-style: none;
}

.ListItem{
  list-style: none;
}

.Item{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.Email{
  font-weight: 500;
  color: rgba(0,0,0,0.85);
}

.Body div a, .State div a{
  font-size: 14px;
  color: #108EE9;
  text-decoration: none;
}

.State div a{
  margin-right: 12px;
}

.Body div a{
 margin-left: 40px;
}

.Body div a{
  margin-left: 5px;
 }

.Body div form a{
  font-size: 14px;
  color: #108EE9;
  text-decoration: none;
  margin-left: 10px;
}

.Input, .Password input{
  height: 32px;	
  width: 240px;	
  border: 1px solid rgba(0,0,0,0.15);	
  border-radius: 4px;	
  background-color: #FFFFFF;
  padding-left: 10px;
  margin-left: 10px;
}

.Submit-button, .Select, .Password input[type=submit]{
  height: 32px;	
  width: 120px;	
  border-radius: 4px;	
  border-color: #108EE9;
  background-color: #108EE9;
  color: white;
  font-size: 12;
  text-align: center;
  padding: 5px;
  margin-left: 10px;
}

.Select{
  width: 80px;
  background-color: white;
  color: black;
  border-color: rgba(0,0,0,0.15);
}

.Empty div span{
  color: #000000;		
  font-size: 14px;	
  font-weight: bold;
}

.Empty .State span{
  font-size: 12px;
  margin-right: 12px;
  color: rgba(0,0,0,0.45);
  font-weight: normal;
}

.Password{
  display: flex;
  flex-direction: column;
}

.Password input{
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 300px;
}

.Password input[type=submit]{
  margin-left: 0px;
}