.Main{
  display: flex;
  width: 100%;
}
.Navbar{
  display: flex;
  width: 25%;
  flex-direction: column;
  margin-top: 24px;
  color: rgba(0,0,0,0.25);
  font-size: 14px;
}

.Navbar a{
  height: 50px;
}

.NavContent{
  display: flex;
  width: 75%;
  margin-left: 66px;
  flex-direction: column;
}