.Welcome{
  display: flex;
  width: 50%;
  margin-left: 40px;
}

.Description{
  display: flex;
  font-size: 14px;
  flex-direction: column;
  margin-top: 18px;
}

.Picture{
  height: 141px;
  width: 155px;
  margin-left: 24px;
}